<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col th">
                    檔案名稱
                </div>
                <div class="col">
                    Test.txt
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col th">
                    檔案大小
                </div>
                <div class="col">
                    1.4MB
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col th">
                    建立日期
                </div>
                <div class="col">
                    2017/08/06
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col th">
            作者
        </div>
        <div class="col">
            KevinHsu
        </div>
    </div>
</div>