<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <a class="nav-brand" [routerLink]="['/home']">
          <img alt="logo" class="logo-nav" [src]="logo">
  </a>

  <div class="collapse navbar-collapse justify-content-md-end" id="containerNavbar">
    <ul class="navbar-nav">
      <a class="navbar-brand" [routerLink]="['/home']">首頁</a>
      <a class="navbar-brand" [routerLink]="['/news']">最新消息</a>
      <a class="navbar-brand" [routerLink]="['/about']">關於我們</a>
      <a class="navbar-brand" [routerLink]="['/contact']">連絡方式</a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
