<div class="header">
  <div class="for-sticky">
    <!--LOGO-->
    <div class="col-md-2 col-xs-6 logo">
      <a [routerLink]="['../home']"><img alt="logo" class="logo-nav" [src]="logo"></a>
    </div>
    <!--/.LOGO END-->
  </div>
</div>
<div class="navbar float-right navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">首頁</a>
      <a class="navbar-brand" [routerLink]="['/about']">關於我們</a>
      <a class="navbar-brand" [routerLink]="['/contact']">連絡方式</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/mlaval/angular2-bootstrap">Github</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
