<div id="wrapper">
  <div id="bg"></div>
  <div id="overlay"></div>
  <div class="row">
    <div class="col">
      <div id="main">
        <header id="header">
          <div class="header-content">
            <h1>輔大崇德</h1>
            <h1>志工社</h1>
            <br>
            <span class="typed"></span>
          </div>
          <nav>
            <ul>
              <li><a href="#" class="icon fa-home"><span class="label">Home</span></a></li>
              <li><a href="https://www.facebook.com/fjucdvo/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-photo"><span class="label">Photo</span></a></li>
              <li><a href="#" class="icon fa-video-camera"><span class="label">Video</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
          </nav>
        </header>
        <!-- Footer -->
        <footer id="footer">
          <div class="row">
            <div class="col">
              <span class="copyright">&copy; 輔大崇德志工社版權所有</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
